/* Chat.module.css */

.chatPage {
  display: flex;
  height: 500px;
  max-height: 500px;
  width: 1000px;
  padding: 20px;
}

.usersList {
  width: 250px;
  padding: 15px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.usersTitle {
  text-align: center;
  margin-bottom: 10px;
}

.userItem {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.userItem:hover {
  background-color: #e1e1e1;
}

.activeUser {
  background-color: #007bff;
  color: white;
}

.chatContainer {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatTitle {
  text-align: center;
  margin-bottom: 10px;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Общий стиль сообщения */
.message {
  padding: 10px;
  border-radius: 5px;
  max-width: 60%;
  word-wrap: break-word;
  display: inline-block;
}

/* Стиль сообщений текущего пользователя */
.myMessage {
  background-color: #d1e7dd;
  align-self: flex-end; /* Выравнивание по правому краю */
  text-align: right;
  margin-left: auto; /* Отодвинуть от левого края */
}

/* Стиль сообщений собеседника */
.theirMessage {
  background-color: #f8d7da;
  align-self: flex-start; /* Выравнивание по левому краю */
  text-align: left;
  margin-right: auto; /* Отодвинуть от правого края */
}

.noMessages {
  text-align: center;
  color: #999;
}

.inputContainer {
  display: flex;
  margin-top: 10px;
}

.messageInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.sendButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sendButton:hover {
  background-color: #0056b3;
}
