.usersContainer {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .usersTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .usersTable th, .usersTable td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
  }
  
  .usersTable th {
    background-color: #5c5c5c;
  }
  
  